<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projekt.ActivityBackend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kalkulator zarobkow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="projekt.ActivityBackend.MainMenuPanel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="projekt.ActivityBackend.SalaryPanel" />
        <activity android:name="projekt.ActivityBackend.OptionsPanel" />
        <activity android:name="projekt.ActivityBackend.ShopPanel" />
        <activity android:name="projekt.ActivityBackend.AdminAllProductsPanel" />
        <activity
            android:name="projekt.ActivityBackend.AdministratorPanel"
            android:exported="true"></activity>
    </application>

</manifest>